body{
background:black;
color:white;
font-family:monospace;
margin:0;
}

.screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hidden{display:none;}

button{
margin:5px;
padding:10px;
width:200px;
background:black;
color:white;
border:2px solid white;
}

#hud{
display:flex;
gap:20px;
margin-bottom:10px;
}

#enemyBar{
width:80%;
height:20px;
border:2px solid white;
}

#enemyHP{
height:100%;
background:red;
width:100%;
}

@media (orientation: landscape){
button{width:40%;}
}
