body {
    margin: 0;
    background: black;
    color: white;
    font-family: monospace;
}

/* TELAS */
.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

button {
    background: black;
    color: white;
    border: 2px solid white;
    padding: 12px;
    margin: 5px;
    width: 220px;
}

/* ========================= */
/* HUD LANDSCAPE COMBATE */
/* ========================= */

#screen-battle {
    justify-content: space-between;
}

/* HUD superior */
#top-hud {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid white;
    padding: 8px 0;
}

/* Área do inimigo */
#enemy-area {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Barra HP */
#enemy-health-container {
    width: 80%;
    height: 20px;
    border: 2px solid white;
}

#enemy-health-bar {
    height: 100%;
    width: 100%;
    background: red;
    transition: width 0.3s ease;
}

/* Botões */
#main-actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-top: 2px solid white;
}

/* Landscape específico */
@media (orientation: landscape) {

    #screen-battle {
        flex-direction: column;
    }

    #main-actions button {
        width: 40%;
    }
}
